.reveal .slide-logo {
  display: block;
  position: fixed;
  bottom: unset !important;
  right: unset !important;
  top: 5px;
  left: 12px;
  height: 100px !important;
  width: 100x !important;
  max-width: unset !important;
  max-height: unset !important;
}

.panel-tabset-tabby a { 
  font-size: 15px;
  font-style: italic;
  color: navy;
  font-family: Arial;
  font-variant: small-caps;
}

.reveal h2 {
  text-align: right;
}